.main {
  margin: 0 auto;
  max-width: 1200px;

  .title {
    font-size: 32px;
  }

  .input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

}